body{
    background-color: #f9f9f9; /* Arkaplan rengi secimi */
    font-family: 'Courier New', Courier, monospace; /* Font Ailesi secimi */
}
section{    
    width: 50vw; /* Kullanıcı ekranın %50 genişliğini verme */
    margin: 0 0 0 auto; /* Sağa doğru kayma */    
}
h4{
    background-color: black; /* Arkaplan rengini siyah yapma */
    color: white; /* Font rengini beyaz yapma */
    display: inline; /* Display'i inline yapma */
}
h3{    
    float: right; /* Sağa doğru kayması*/
}
h5{
    text-decoration: underline; /* Yazının altını çizme */
    display: inline; /* Display'i inline yapma */
}
h5>span{
    color: #e23636; /* Yazı rengi */
}

